absl-py==0.11.0
alembic==1.14.0
altgraph==0.17.3
astunparse==1.6.3
attrs==20.3.0
auto-py-to-exe==2.26.0
babel==2.16.0
blinker==1.9.0
bottle==0.12.23
bottle-websocket==0.2.9
cachetools==4.2.1
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.15.0
chardet==3.0.4
click==8.1.3
colorama==0.4.4
cssselect2==0.6.0
defusedxml==0.7.1
dill==0.3.3
dnspython==2.2.1
Eel==0.14.0
Faker==6.5.0
flask==3.1.0
Flask-Migrate==4.0.7
Flask-Moment==1.0.6
flask-sqlalchemy==3.1.1
flask-wtf==1.2.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gevent==22.10.2
gevent-websocket==0.10.1
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googletrans==3.0.0
greenlet==2.0.1
grpcio==1.34.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
hstspreload==2022.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.11.4
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.2
joblib==1.0.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
libretranslatepy==2.1.1
lxml==4.9.1
mahotas==1.4.11
Mako==1.3.8
Markdown==3.3.4
MarkupSafe==2.1.1
networkx==2.8.8
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==24.2
pandas==1.2.2
pefile==2022.5.30
Pillow==8.1.1
promise==2.3
protobuf==3.15.3
psycopg2-binary==2.9.10
py-avataaars==1.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.1.2
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pymongo==4.3.3
pyparsing==3.0.9
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
sniffio==1.3.0
SQLAlchemy==2.0.36
tb-nightly==2.5.0a20210303
tensorboard-data-server==0.3.0
tensorboard-plugin-wit==1.8.0
tensorflow-metadata==0.28.0
termcolor==1.1.0
text-unidecode==1.3
tf-estimator-nightly==2.5.0.dev2021030301
tf-nightly==2.5.0.dev20210302
tfds-nightly==4.2.0.dev202102280107
tflearn==0.5.0
threadpoolctl==2.1.0
tinycss2==1.1.1
tqdm==4.58.0
translate==3.6.1
typing-extensions==4.12.2
urllib3==1.26.3
webencodings==0.5.1
werkzeug==3.1.3
whichcraft==0.6.1
wrapt==1.12.1
wtforms==3.2.1
wxPython==4.2.0
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.5.2
